* {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	color:  black;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

main{
	position: relative;
}

.container {
	margin: 0 auto;
	max-width: 1440px;
}

nav {
	background: linear-gradient(91.1deg, rgba(244, 246, 245, 0.9) -7.89%, rgba(255, 255, 255, 0.9) 132.55%);
	width: 100%;
	display: flex;
	height: 10vh;
}


.title{
	cursor: default;
	align-items: center;
	width: 50%;
	display: flex;
	font-size: 20px;
	grid-gap: 2%;
}

.title_img:first-child{
	margin-left: 5%;
}

.title_img {
	animation: upDown 2s infinite;
}

@keyframes upDown {
	0% {transform: translateY(5px);}
	50%{transform: translateY(0)}
	100% {transform: translateY(5px)}
}

.navbar{
	width: 50%;
}

ul {
	margin-top: 5%;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
}

a{
	font-size: 20px;
	display: block;
	text-decoration: none;
	transition: all 0.3s;
}

a:hover {
	text-shadow: 0 0 10px gray;
}

a:active {
	color: black;
}

.header_box {
	position: relative;
}

.header_img{
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 60vh;
	background-image: url('https://images.unsplash.com/photo-1512909006721-3d6018887383?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');

}

.header_info{
	width: 50%;
/*	min-width: 90%*/;
	min-height: 30%;
	top:25%;
	position: absolute;
	background: linear-gradient(91.1deg, rgba(244, 246, 245, 0.9) -7.89%, rgba(255, 255, 255, 0.9) 132.55%);
	animation: blur 3s  1;
}

.header_info p{
	margin: 10%;
	font-size: 2rem;
}


@keyframes blur {
	0%{
		opacity: 0;
	} 100% {
		opacity: 1;
	}
}


.service_box{
	background: rgba(37, 77, 77, 0.2);
	padding-top: 20px;
	height: 40vh;
}

.service_title {
	display: flex;
	justify-content: center;
	font-size: 25px;
}

.service_sections{
	margin-top: 45px;
	justify-content: center;
	display: flex;
	grid-gap: 10%;
}
.service_section {

}

.section_img{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: #254D4D;
	border-radius: 50%;
}

.section_title {
	display: flex;
	justify-content: center;
	font-size: 25px;
	margin-bottom: 10px;

}

.section_subtitle {
	text-align: center;
	display: flex;
	justify-content: center;
	line-height: 20px;
}

.about {
	display: flex;
}

/*.about_img{
	display: flex;
	justify-content: end;
	width: 60%;
	margin: 3% 5% 0 7%;
}
.about_img img{
	width: 100%;
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}*/

.about_img{
	display: flex;
	justify-content: end;
	width: 60%;
	height: 60vh ;
	margin: 3% 5% 0 7%;
	background-image: url('https://images.unsplash.com/photo-1615678857339-4e7e51ce22db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
	clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
	background-attachment: fixed;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


.about_info{
	font-size: 16px;
	margin: 10% 7% 0 0;
	width: 30%;
}

.info_title{
	font-size: 25px;
}

.info_subtitle{
	font-size: 25px;
	line-height: 35px;
}


@keyframes opacity {
	from { color: rgba(0, 0, 0, 0); }
	to {color: rgba(0, 0, 0, 1);}
}


.order {
	width: 100%;
	height: 40vh;
	background-image: url('source/pattern.png');
	position: relative;
	margin-top: 4%;
	display: flex;
	align-items: center;
}

.order_text{
	width: 50%;
	min-height: 30%;
	right: 0;
	top:20%;
	position: absolute;
	background: linear-gradient(91.1deg, rgba(244, 246, 245, 0.9) -7.89%, rgba(255, 255, 255, 0.9) 132.55%);
}

.order_text p{
	margin: 10%;
	font-size: 1.5rem;
	display: block;
}

.order_box{
	width: 25%;
	margin-left: 10%;
	cursor: pointer;
	background: rgba(37, 77, 77, 0.8);
	animation: upDown 2s infinite;
}

.order_box p{
	margin: 30px 40px;
	text-align: center;
	font-size: 1.5rem;
	color: white;
}

.contacts{
	position: relative;
	width: 100%;
	height: 20vh;
	background: rgba(37, 77, 77, 0.2);
	display: flex;
	align-items: center;
}

.navbar2 {
	padding: 2%;
	min-width: 25%;
}
.active_li {}
.inactive_li {}
.contacts_box {
	padding: 2% 0 2% 10% ;
	min-width: 65%;
}
.number {}
.soc_networks {}
.email {}
.author {
	text-align: center;
	font-size:10px;
	width: 2%;
}

.order_block{
	top: 20% ;
	left: ;
	position: absolute;
	background: white;
	border: 2px solid gray;

}


@media screen and (max-width: 1000px) {
	.navbar {
		display: none;
	}
	.title {
		justify-content: center;
		width: 100%;
	}
	.service_sections{
		margin-top: 20px;
		justify-content: center;
		display: flex;
		grid-gap: 3%;
	}
	.header_info{
		width: 80%;
		min-height: 30%;
		top:15%;
	}
	.order_box{
		width: 40%;
		margin-left: 5%;
	}
	.contacts{
		justify-content: space-between;
	}
}

@media screen and (max-width: 480px) {
	h1{
		font-size: 0.95em;
	}
	.header_info{
		top:20%;
	}
	.header_info p {
		margin: 2%;
		font-size: 1.2em;
	}
	.service_box{
		padding-top:1%; 
	}
	.service_sections {
		margin: 0 1%;
	}
	.service_section {
		min-width: 30%;
	}
	.section_img {
		width: 50px;
		height: 50px;
	}
	.section_img img {
		width: 70%;
	}
	.section_title {
		font-size: 1.2em;
	}
	.section_subtitle {
		font-size: 1em;
	}
	.about {
		flex-direction: column;
	}
	.about_img {
		background-attachment: scroll;
		height: 40vh;
		width: 100%;
		margin: 0;
	}
	.about_info {
		width: 100%;
		text-align: justify;
	}
	.info_subtitle {
		font-size: 1.2em;
		line-height: 20px;
		margin: 1% 2%;
	}
	.contacts_box {
	   padding: 2% 0 2% 0%;
	   min-width: 65%;
	}
	.order {
		margin-top: 1%;
	}
	.order_box p, .order_text p {
		font-size: 1em;
		margin: 5%;
	}
	.contacts a{
		font-size: 1em;
	}

}